
.contas select{
    width: 350px;
    height: 59px;''
    font-weight: 600;
    color: black;
    background: #E2E8F0;
}
form div.detail {
    display:flex;
    gap: 32px;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
