div.pagamento {
    display:block;
}
.pagemento select{
    width: 350px;
    height: 59px;
    font-weight: 600;
    color: black;
    background: #E2E8F0;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
.sec{
    gap: 30px;
}


.ped span{
    padding-top: 60px;
    width: 100%;
  color: #D1402C;
  font-weight: 600;
}
.ped button{
    background: #2FBD6A;
    color: rgb(131, 63, 63);
    width: 50%;
    height: 51px;
    margin: 50px;
    border-radius: 4px;
}
.ped button:hover{
    background: #05692f;
    border: 5px solid #9debbd;
}
